@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  --background: #fafafa;
  --foreground: #0a0a0a;
}

@layer base {
  body {
    @apply bg-[var(--background)] text-[var(--foreground)] antialiased;
    font-feature-settings: "ss01", "ss02", "cv01", "cv02";
  }
}

.perspective-1000 {
  perspective: 1000px;
}

.text-balance {
  text-wrap: balance;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}